/*
| Main CSS Containing some sick as styles for you to use if wanted.
*/


/*CONTENT BOXES MANAGEMENT.*/
.cb-cntnr {
  border-radius: 3px;
  border: solid silver 1px;
}
.cb-title {
  margin: 3px;
  padding: 5px;
  font-family: Verdana, Arial;
  font-size: 12px;
  font-weight: Bold;
  color: white;
  border-radius: 3px;
}
.cb-cntnt {
  margin:  3px;
  padding: 5px;
}
.cb-clr-red {
  background-color: #d44950;
  background: -webkit-linear-gradient( top, #d44950 50%, #d44e49 50% );
}
