/*
| This is the JEK CORE header CSS file.
| Ran when the CFG of:
|   > CONFIG -> USE-DISPLAY-PROPERTIES = TRUE.
*/

/*If icons used -- This is the styling given to each image.*/
.navicon
  {

  }

/*Selects all links in navbar.*/
li[class="dropdown"] > a,
li > .navbar-link,
a[class="navbar-brand"]
  {
    vertical-align: middle !important;
  }
/*Selects all links in navbar when hovered over.*/
li[class="dropdown"] > a:hover,
li > .navbar-link:hover,
a[class="navbar-brand"]:hover
  {
    background-color: whitesmoke !important;
  }


/*Setting the background color of the navbar as well as the dropdowns.
ALL CUSTOMIZATION FOR THE DROPDOWNS AND NAVBAR LINKS.*/
.header-container, .dropdown-menu
  {
    /*background-color: white !important;*/
    /*background:       rgba(0, 0, 0, 0.8);*/
    background-color: white !important;
    border-bottom-left-radius:  4px;
    border-bottom-right-radius: 4px;
  }
.header-container
  {
    /*height: 100px !important;*/
  }
/*The color of the fade in the background when hovering over a dropdown element.*/
.dropdown-menu > li > a:hover
  {
    background-color: whitesmoke !important;
    background-image: none;

    transition: 0.5s;
  }
/*When a user clicks the link -- The background color.*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
  {
    background-image: none !important;
    background-color: whitesmoke !important;
  }

/*Speed of Triggered -> Static change after mouseoff.*/
.dropdown-menu > li > a
  {
    transition: 0.5s;
  }
/*The color of a divider / seperator.*/
.dropdown-menu .divider
  {
    background-color: whitesmoke !important;
  }
/*Used so the container-fluid is the background color.*/
.navbar
  {
    background: transparent !important;
  }



/*Your sites logo.*/
.navbar-brand
  {
    margin-right: 40px;
    font-family: 'Lato', Arial !important;
    color:     black !important;
    text-transform: uppercase;
    font-size: 12px !important;
  }

/*The container of the navbar.*/
.navbar
  {
    /*margin:        0 !important;*/
    border-radius: 0 !important;
    border:        0 !important;
  }

/*All navbar links, dropdown links, dropdown items, etc...*/
li[class="dropdown"] > a, .triggerable-links > li > a,
.dropdown-menu > li > a
  {
    color:          black !important;
    text-transform: uppercase;
    font-family:    'Open Sans', Sans-Serif !important;
    font-size:      14px !important;
    font-weight:    bold;
    /*font-weight:    bold;*/

    border-right: solid whitesmoke 1px;
  }
.farleft-link
  {
    border-left:   solid whitesmoke 1px;
  }
